/*body * {
  border: 1px solid red;
}*/

#crosshairs {
  z-index: 500;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-top: -10px;
  margin-left: -10px;
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: purple;
  opacity: .3;
}

#menu-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(164, 197, 252, 0.4);
  z-index: 1000;
}

#menu-screen {
  display: flex;
  justify-content: center;
  background-color: azure;
  padding: 20px;
  border-radius: 7px;
}

.game-options {
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-options > .voxel-cube {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dimensions-title{
    align-self: center;
}

.game-options > .voxel-cube > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
}

.game-options > .voxel-cube > div > span {
  width: 30px;
  text-align: center;
}

.game-options > .voxel-cube > div > input {
  flex-grow: 1;
}


.game-options > .cell-rules {
  padding: 1vw 0;
}

.game-options > .cell-rules > .live-cells {
  padding: 1vw 0;
}

.game-options > .cell-rules > div > .number-store > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* selections */
/* not chosen */
.number-store > div > .number-neighbor {
  flex: 1;
  text-align: center;
  color: blue;
  background-color: azure;
  user-select: none;
  border: 1px grey solid;
  border-radius: 4px;
  margin: 2px;
}


div.number-neighbor:hover {
  color: orange;
  background-color: grey;
}

/*clicked on to be activated */
.rule-selected {
  color: red !important;
  background-color: black !important;
}

/* activated */
.rule-activated {
  color: white !important;
  background-color: green !important;
}
/* end rule selections */


.info {
  text-align: center;
}

.game-options > .apply {
  display: flex;
  justify-content: center
}

button {
  padding: 2px 10px;
  border: 1px solid grey;
  border-radius: 6px;
  margin: 5px 5px;
}

button:hover{
  background-color: grey;
}

button:active{
  background-color: green;
}


.game-rules {
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}

.game-rules > .info {
  flex-grow: 1;
}

.game-rules button {
  padding: 10px 25px;
}

a{
  color: blue;
}
