body * {
  border: 1px solid red;
}

#menu-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(164, 197, 252, 0.4);
  z-index: 1000;
}

#menu-screen {
  display: flex;
  justify-content: center;
  background-color: azure;
  padding: 20px;
  border-radius: 7px;
}

.game-options {
  margin-right: 3vw;
}

.game-options > .voxel-cube > div {
  display: flex;
  flex-direction: row;
}

.game-options > .voxel-cube > div > .display {
  width: 35px;
  text-align: center;
}

.game-options > .voxel-cube > div > input {
  flex-grow: 1;
}

.game-options > .cell-rules > div > .number-store > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.number-store > div > .number-neighbor {
  flex: 1;
  text-align: center;
  color: blue;
  background-color: azure;
  user-select: none;
}

div.number-neighbor:hover {
  color: orange;
  background-color: grey;
}

.rule-selected {
  color: red !important;
  background-color: black !important;
}

.info {
  text-align: center;
}

.game-options > .apply {
  display: flex;
  justify-content: center
}

.game-options button {
  padding: 2px 10px;
}



.game-rules {
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}

.game-rules > .info {
  flex-grow: 1;
}

.game-rules button {
  padding: 10px 25px;
}
